#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.95);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#main {
  padding-top: 50px !important;
}
.profile {
  background: #fff;
  margin-bottom: 21px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}
.profile-name {
  line-height: 18px;
  padding: 20px;
}
.profile .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile .job {
  font-size: 13px;
  color: #777777;
}
.profile-image {
  margin-top: -18px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}
.profile-image img {
  width: 100%;
}
img {
  vertical-align: top;
  border: 0;
  max-width: 100%;
  height: auto;
}
ul.profile-information {
  list-style: none;
  margin: 8px 0px -12px 25px;
}
ol,
ul {
  padding-left: 20px;
}
ul.profile-information li:first-child {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
ul.profile-information li {
  border-left: solid 2px #eee;
  padding: 0 0 23px 20px;
  font-size: 14px;
  color: #787878;
}

.site-btn,
header nav a.home-btn i,
ul.profile-information li:first-child:before,
#blog .blog-box .date span,
#blog .blog-box .date span,
.timeline li:first-child i,
.cbp-l-loadMore-link.site-btn {
  color: #000 !important;
}
header nav a.home-btn,
.estate figure .imgout .price,
.site-btn,
.timeline li:first-child i,
nav ul li a:after,
.owl-theme .owl-controls .owl-page span,
.skill-list .progress .percentage,
ul.profile-information li:first-child:before {
  background: #ffc500 !important;
}
ul.profile-information li:first-child:before {
  margin-left: -51px;
  margin-top: -30px;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  width: 40px;
  height: 40px;
  padding: 11px 14px;
  box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}

.timeline li:before,
ul.profile-information li:before {
  border-color: #ffb100 !important;
}
ul.profile-information li:before {
  border-color: #ffc500;
}
ul.profile-information li:before {
  content: '';
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -25px;
  margin-top: 2px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
}

ul.profile-information li:first-child:after {
  background: url(../images/glasses.png) no-repeat;
  background-size: 27px 10px;
}
ul.profile-information li:first-child:after {
  background: url(../images/glasses-w.png) no-repeat;
  content: '';
  width: 30px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px -15px;
  background-size: 27px 10px;
}
ul.profile-information li p {
  font-size: 12px;
  color: #7f7f7f;
  line-height: 5px;
}
ul.profile-information li:last-child {
  border: 0;
  margin-left: 2px;
  margin-top: -2px;
}

.fact-icon {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 0px;
  background: url(../images/bg/fact-bg.svg) no-repeat 0 0;
  background-size: 100% 100%;
  color: #000;
  text-align: center;
  font-size: 32px;
  line-height: 76px;
}

.fact-icon1 {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 0px;
  background: url(../images/bg/fact-bg1.svg) no-repeat 0 0;
  background-size: 100% 100%;
  color: #000;
  text-align: center;
  font-size: 32px;
  line-height: 76px;
}
body .p-b-20 {
  padding-bottom: 14px;
}

.servicebox {
  border: 1px solid #ededed;
  padding: 12px 30px 9px 35px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 10px;
}

.counters-light .counter {
  color: #777;
  font-size: 14px;
}

.percent {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 90px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.chart canvas {
  height: 110px !important;
  width: 110px !important;
}

.skill {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  text-transform: uppercase;
}
.blog-box:after {
  content: '';
  width: 140px;
  height: 7px;
  position: absolute;
  bottom: 0;
  background: none;
}

.header-nav {
  background: #fff;
  display: inline-block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 70px;
  width: 100%;
  margin-bottom: 0px;
  line-height: 70px;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

nav ul {
  list-style: none;
}
ol,
ul {
  padding-left: 20px;
}
nav ul li {
  float: left;
}
.tab.active a,
#blog-post .post-list ul li a,
#blog-post .post-comment ul li .comment-content a {
  color: #ffb100;
}
nav a.home-btn,
.estate figure .imgout .price,
.site-btn,
.timeline li:first-child i,
nav ul li a:after,
.owl-theme .owl-controls .owl-page span,
.skill-list .progress .percentage,
ul.profile-information li:first-child:before {
  background: #ffc500 !important;
}
nav a.home-btn {
  color: #fff;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  padding: 0px 24px;
  float: left;
  height: 70px;
  line-height: 70px;
  margin-right: 10px;
  transition: all ease 0.4s;
  line-height: 77px;
}

nav a.home-btn i {
  font-size: 21px;
}
nav ul li a {
  font-size: 12px;
  font-weight: 650;
  color: #777;
  padding: 0 8px;
  line-height: 73px;
  display: block;
}
a {
  color: #666;
  text-decoration: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none !important;
}
.site-btn,
nav a.home-btn i,
ul.profile-information li:first-child:before,
#blog .blog-box .date span,
#blog .blog-box .date span,
.timeline li:first-child i,
.cbp-l-loadMore-link.site-btn {
  color: #000 !important;
}

.site-btn.icon {
  text-align: left;
  padding: 1px 6px 1px 19px;
}
nav .site-btn {
  margin: 18px 18px 0 5px;
}
.site-btn {
  font-size: 13px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 1px 29px;
  line-height: 35px;
}
.site-btn.icon i {
  color: #000;
  background: #fff;
  margin-left: 15px;
  border-radius: 50px;
  font-size: 11px;
  height: 27px;
  width: 27px;
  float: right;
  text-align: center;
  line-height: 29px;
  margin-top: 4px;
}

.bg-gray .title-style:after {
  background: none;
}
.title-style {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  vertical-align: baseline;
}
.title-style1 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  margin-top: 20px;
}
.title-style2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 450;
  color: #777;
  margin-top: 20px;
  margin-left: -20px;
}
.blog-box h4 {
  font-size: 23px;
}
/** Experience History **/
.padbot_30 {
  padding-bottom: 30px;
}
ul.timeline {
  margin-left: 10px;
}
.top_30 {
  margin-top: 30px;
}
.timeline li:first-child {
  padding: 0 0 60px 19px;
}
.timeline li {
  border-left: solid 2px #ececec;
  list-style: none;
  padding: 0 0 40px 30px;
}
.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}
.timeline li:before,
ul.profile-information li:before {
  border-color: #ffb100 !important;
}
.timeline li:before {
  content: '';
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: -1px;
}
.timeline li:first-child i {
  float: left;
  margin-left: -30px;
  padding: 18px 16px;
  border-radius: 30px;
  margin: -13px -45px;
  background: #fff;
  width: 53px;
  text-align: center;
}
.timeline-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  line-height: 30px;
}
.timeline li:first-child {
  padding: 0 0 60px 19px;
}
.timeline li {
  border-left: solid 2px #ececec;
  list-style: none;
  padding: 0 0 40px 30px;
}
.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}
ul.timeline li:last-child {
  border: 0;
  margin-left: 2px;
  margin-top: -2px;
}

/**Portfolio**/
.bottom_45 {
  margin-bottom: 45px;
}
#portfolio section {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
section:last-child {
  border: 0;
}
.content-header {
  z-index: 5;
}

.bottom_15 {
  margin-bottom: 15px;
}
.section-title {
  font-size: 16px;
  margin-bottom: 15px;
}
.bottom_30 {
  margin-bottom: 30px;
}
.top_30 {
  margin-top: 30px;
}
.section-title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section-title h2 {
  margin: 0;
}
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#portfolio #filters-container .cbp-filter-item {
  font-size: 14px;
  color: #787878;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}
.top_60 {
  margin-top: 60px;
}
#portfolio .cbp-item {
  padding: 15px !important;
}
#portfolio .cbp-item-wrapper {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  -moz-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}
#portfolio .cbp-item figure .icon {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
  top: 50%;
  margin-top: -20px;
  transition: all ease 0.3s;
}
#portfolio .cbp-item figure .icon i {
  color: #fff;
  padding: 17px 0 16px;
  min-width: 50px;
  border-radius: 50px;
  text-align: center;
  transition: all ease 0.3s;
  text-align: center;
  background: rgba(3, 122, 249, 0.8);
}
#portfolio .cbp-item figure .icon i:before {
  font-size: 18px;
}
#portfolio .cbp-item figure img,
.work figure {
  width: 100%;
}
#portfolio .cbp-item figcaption {
  padding: 14px;
}
#portfolio .cbp-item figcaption .title {
  font-size: 14px;
  color: #000;
}
#portfolio .cbp-item figcaption .info {
  font-size: 13px;
  color: #989898;
  line-height: 18px;
  display: block;
}

.filters-nav {
  display: table;
  text-align: center;
  border: 1px solid #ededed;
  margin: 0 auto 0px !important;
  list-style: none;
  border-radius: 50px;
  padding: 9px 7px;
  position: relative;
}
.blog-box h4 {
  font-size: 23px;
  padding-left: 14px;
}
.list-style-01 li {
  position: relative;
  border-top: 1px solid #ededed;
  padding: 11px 0;
}
.blog-box {
  position: relative;
  background: #fff;
  color: #777;
  border-radius: 8px;
  width: 30%;
  display: flex;
  animation: c;
  justify-content: center;
  min-height: 350px;
  margin-right: 10px;
}
.blog-box h6 {
  font-size: 18px;
}
.blog-box h7 {
  font-size: 14px;
  line-height: 35px;
}

/**Design skills**/
.section-title {
  font-size: 16px;
  margin-bottom: 15px;
}
.section-title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.section-title h2 {
  margin: 0;
}
.skill-list li {
  list-style: none;
}
.skill-list h3 {
  font-size: 12px;
}
.skill-list .progress {
  margin: 10px 0 20px;
  display: block;
  height: 5px;
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #dfdfdf;
  box-shadow: 0;
}
.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
header nav a.home-btn,
.site-btn {
  background: #eee !important;
}

header nav a.estate figure .imgout .price,
.timeline li:first-child i,
nav ul li a:after,
.owl-theme .owl-controls .owl-page span,
.skill-list .progress .percentage,
ul.profile-information li:first-child:before {
  background: #999 !important;
}

.skill-list .progress .percentage {
  border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  bottom: 0;
  position: absolute;
  top: 0;
}

/* Custom */
.profile-discussion__view,
.profile-full-width {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}
