body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #74788d;
    text-align: left;
    background-color: #f2f3f8;
}
.authincation {
    height: 100%;
}

.section-padding {
    padding: 100px 0px;
}
.h-100 {
    height: 100% !important;
}
.auth-form {
    border: 1px solid #eff0f6;
}
.card {
    border: 0px solid #eff0f6;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    background: white;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eff0f6;
    background: white;
    padding: 15px 20px;
}
.card-title {
    font-size: 16px;
    margin-bottom: 0px;
}
.card .card-body {
    padding: 15px 20px;
    background: white;
    border-radius: 15px;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 15px;
}
.justify-content-center {
    justify-content: center !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
h4{
  color: #777;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}

input:checked + .slider {
  background-color: #febf34;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.form-width{
    padding-left: 0;
    padding-right: 0;
}
.chkLabel{
    font-size: 15px;
    position: absolute;
    left: 75px;
    top: 3px;
}
a{
    font-size: 15px;
}
.btn{
    margin-top: 21px;
}
